html {font-size: 100%;}

body {background-color: black;}

ul {list-style: square;}

i {font-size: 5rem;}

.banner-text-container {
  position: absolute;
  width: 50%;
  color: white;
  text-align: center;
  & .banner-text {font-size: 1.3rem;}
}

.nav-item a {
  margin: 0 1rem;
  color: #0c0c0c;
  text-decoration: none;

  &:hover {
    color: lighten(#0c0c0c, 50);
    text-decoration: underline;
  }
}

.link {
  text-decoration: none;
  color: #1A1919;

  &:hover {
    text-decoration: underline;
    color: initial;
  }
}

.lessons-banner, .others-banner {margin: 0% 10%;}

.btn-primary {
  background-color: #4C212A;
  border-color: #4C212A;

  &:hover, &:active, &:focus, &:focus-visible{
    background-color: #B95C3B;
    border-color: #B95C3B;
  }
}

.bg-light {background-color: #ffffff !important;}

.social-network-container {
  & .list-group-item {
    padding: 0 .5rem;
    border: 0;
  }
  & i {font-size: 2rem;}
}

@import "theme-responsive";